HW1/Homework_1.pdf
HW1/yolov5m.pt
HW1/yolov5s.pt
HW1/test.py
HW3.zip
HW3P2P3/densenet121_baseline_att_256x256_B_epoch_160.pth
HW3P2P3/resnet18_baseline_att_224x224_A_epoch_249.pth
HW3P2P3/test.mp4
HW3P2P3/test2.mp4
RTAI Final Project Proposal.pdf
data-unversioned
FinalProjectVehicle/Source/cars.mp4
FinalProjectVehicle/Source/exampleworkzone.mp4
FinalProjectVehicle/Source/Demos/Bridge.mp4
FinalProjectVehicle/Source/Demos/IndianMotorway.mp4
FinalProjectVehicle/Source/Output/YoloDeepDistance.mp4
FinalProjectVehicle/Source/Demos/IndianMotorway2.mp4
FinalProjectVehicle/Source/weights/best.pt
